@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap);
.content-main-layout {
  background-color: #ededed;
}

.separatorLine {
  border-color: #6d99a3;
  border-width: 3px;
}
