@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap);
body{
  background-color: #EBF8FF;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.cardContainer1 {
  border-color: #6d99a3;
  border-width: 3px;
  border-style: solid;
  background-color: #F8F8F8;
  font-family: "Nunito", sans-serif;
}

.buttonAmount {
  font-weight: bold;
  border-width: 0px 1px 1px 0px;
}

.buttonAmountHidden {
  visibility: hidden;
}

.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: #FFE084;
  }
  